<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>

	<h:form>
		<h:panelGrid columns="2">

			<h:outputLabel value="Usuario: " />
			<p:inputText value="#{mensajeBean.mensaje.usuario}"></p:inputText>
			<h:outputLabel value="Mensaje: " />
			<p:inputTextarea value="#{mensajeBean.mensaje.mensaje}"></p:inputTextarea>

		</h:panelGrid>
		<p:commandButton value="Enviar" action="#{mensajeBean.addMensaje()}"
			process="@form" update="@form" />

		<p:separator />

		
		<p:dataTable value="#{mensajeBean.mensajes}" var="msj">
			<p:column headerText="hora">
				#{msj.momento.time}
			</p:column >
			<p:column headerText="usuario">
				#{msj.usuario}
			</p:column>
			<p:column headerText="mensaje">
				#{msj.mensaje}
			</p:column>
		</p:dataTable>


	</h:form>

</body>
</html>
