<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	  <h:head>
	  	<title>Login</title>
	  </h:head>
	  <h:body>
	  <ui:composition template="/WEB-INF/template_inicio.xhtml">
	  	<ui:define name="content">
	  <h:form>
	 	 <div>
	 		<h:inputText value="#{usuarioBean.nombre}"></h:inputText>
		 </div>
	 	 <div>
	 	 	<h:inputText value="#{usuarioBean.clave}"></h:inputText>
	 	 </div>
	  
	  <div>
	  	<h:commandButton value= "ingresar" action="#{usuarioBean.lol()}"/>
	  </div>
	  </h:form>
	  
	  <h:form>
	  	<div>
	  		<h:commandButton value="lista" action="#{usuarioBean.listaUsuarios()}"></h:commandButton>
	  	</div>
	  </h:form>
	  </ui:define>
	  </ui:composition>
	  </h:body>
	  </html>
